@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

.barra-lateral{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 260px;
	background: #11101d;
	z-index: 100;
	transition: all 0.5s ease;
}

.barra-lateral.close{
	width: 78px;
}

.barra-lateral .logo-detalhe{
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;	
}

.barra-lateral .logo-detalhe i{
	font-size: 30px;
	color: #fff;
	height: 50px;
	min-width: 78px;
	text-align: center;
	line-height: 50px;

}

.barra-lateral .logo-detalhe .logo-nome{
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	transition: 0.3s ease;
	transition-delay: 0.1s;

}

.barra-lateral.close .logo-detalhe .logo-nome{
	transition-delay: 0s;
	opacity: 0;
	pointer-events: none;
}

.barra-lateral .navega-links{
	height: 100%;
	padding: 30px 0 150px 0px;
	overflow: auto;
}

.barra-lateral.close .navega-links{
	overflow: visible;
}

.barra-lateral .navega-links::-webkit-scrollbar {
	display: none;
}
.barra-lateral .navega-links li{
	position: relative;
	list-style: none;
	transition: all 0.4s ease;
}

.barra-lateral .navega-links li:hover{
	background: #1d1b31;
}

.barra-lateral .navega-links li .expande-link{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.barra-lateral.close .navega-links li .expande-link {
	display: block;
}

.barra-lateral .navega-links li i{
	height: 50px;
	min-width: 78px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.barra-lateral .navega-links li.MostrarMenu i.arrow {
	transform: rotate(-180deg);
}

.barra-lateral.close .navega-links i.arrow {
	display: none;
	
}

.barra-lateral .navega-links li a{
	display: flex;
	align-items: center;
	text-decoration: none;
}

.barra-lateral .navega-links li a .link-nome {
	font-size: 16px;
	font-weight: 400;
	color: #fff;	
}

.barra-lateral.close .navega-links li a .link-nome {
	opacity: 0;
	pointer-events: none;
	
}

.barra-lateral .navega-links li .menu-expandido {
	padding: 6px 6px 14px 80px;
	margin-top: -10px;
	background: #1d1b31;
	display: none;
}

.barra-lateral .navega-links li.MostrarMenu .menu-expandido {
	display: block;
}

.barra-lateral .navega-links li .menu-expandido a {
	color: #fff;
	font-size: 15px;
	padding: 5px 0;
	white-space: nowrap;
	opacity: 0.6;
	transition: all 0.3s ease;
}

.barra-lateral .navega-links li .menu-expandido a:hover {
	opacity: 1;
}

.barra-lateral.close .navega-links li .menu-expandido {
	position: absolute;
	left: 100%;
	top: -10px;
	margin-top: 0;
	padding: 10px 20px;
	border-radius: 0 6px 6px 0;
	transition: 0s;
	opacity: 0;
	display: block;
	pointer-events: none;
	
}

.barra-lateral.close .navega-links li:hover .menu-expandido {
	top: 0;
	opacity: 1;
	pointer-events: auto;
	transition: all 0.4s ease;
}

.barra-lateral .navega-links li .menu-expandido .link-nome{
	display: none;
}

.barra-lateral.close .navega-links li .menu-expandido .link-nome{
	display: none;
}

.barra-lateral.close .navega-links li .menu-expandido .link-nome{
	font-size: 18px;
	opacity: 1;
	display: block;
}

.barra-lateral .navega-links li .menu-expandido .blank{
	opacity: 1;
	pointer-events: auto;
	padding: 3px 20px 6px 16px;
	opacity: 0;
	pointer-events: none;

}

.barra-lateral .navega-links li:hover .menu-expandido .blank{
	top: 50%;
	transform: translateY(-50%);
}

.barra-lateral .perfil-detalhe {
	width: 260px;
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #1d1b31;
	padding: 6px 0;
	transition: all 0.5s ease;
}

.barra-lateral.close .perfil-detalhe {
	width: 78px;
	background: none;
}

.barra-lateral .perfil-detalhe .perfil-content{
	display: flex;
	align-items: center;
}

.barra-lateral .perfil-detalhe img {
	height: 52px;
	width: 52px;
	object-fit: cover;
	border-radius: 16px;
	margin: 0 12px 0 14px;
	background: #1d1b31;
	transition: all 0.5s ease;
}

.barra-lateral.close .perfil-detalhe img {
	padding: 10px;
}

.barra-lateral .perfil-detalhe .perfil-nome,
.barra-lateral .perfil-detalhe .perfil-funcao {
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	white-space: nowrap;
}

.barra-lateral.close .perfil-detalhe i,
.barra-lateral.close .perfil-detalhe .perfil-nome,
.barra-lateral.close .perfil-detalhe .perfil-funcao {
	display: none;
}

.barra-lateral .perfil-detalhe .perfil-funcao {
	font-size: 11px;
}

.home-secao {
	position: relative;
	height: 100vh;
	background: #E4E9F7;
	left: 260px;
	width: calc(100% - 260px);
	transition: all 0.5s ease;
	
}

.barra-lateral.close ~ .home-secao {
	left: 78px;
	width: calc(100% - 78px);
}

.home-secao .home-content{
	height: 60px;
	display: flex;
	align-items: center;
}

.home-secao .home-content .bx-menu,
.home-secao .home-content .texto {
	color: #11101d;
	font-size: 35px;
}

.home-secao .home-content .bx-menu {
	margin: 0 15px;
	cursor: pointer;
}

.home-secao .home-content .texto {
	font-size: 26px;
	font-weight: 600;
}
